@model sfs_model.Partner
@{
    ViewBag.Title = "SFS - Reset Password";
    Layout = "~/Views/Shared/_PartnerLayout.cshtml";
}


<section id="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title"> </h1>
            </div>
        </div>
        <div class="row">
            <div style="width:80%;">
                <div class="row">
                    <div class="col-xs-11">
                        @using (Html.BeginForm("ChangePassword", "Partner", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="well col-sm-offset-2">
                                <h2 class="title">Change<span class="text-success"> Password</span></h2>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="New Password">New Password</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.Password, new { @type = "Password", @id = "txtPassword", @class = "required form-control", @required = "", @placeholder = "Password" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="Confirm Password">Confirm Password</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.ConfirmPassword, new { @type = "Password", @class = "form-control", @placeholder = "Confirm Password", @enabled = "false", @id = "txtConfirmPassword" })
                                    </div>
                                </div>
                                <div class="text-right">
                                    <a href="/Partner/Index"><input class="btn btn-primary btn-lg" id="Cancel" name="btnLogin" value="Cancel" /></a>&nbsp;
                                    <input class="btn btn-primary btn-lg" id="btnsubmit" name="btnLogin" value="Change Password" type="submit" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
