@{
    ViewBag.Title = "SFS - Payments";
    Layout = "~/Views/Shared/_PartnerLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <!--<ol class="breadcrumb">
          <li class="active"> <i class="fa fa-dashboard"></i> Dashboard </li>
        </ol>-->
        <h1 class="page-header"> Chit Payments <small> (90)</small> <span class="pull-right"><a class="btn btn-primary" href="/Payment/NewPayment/"><i class="fa fa-plus"></i> New Payment</a></span></h1>
    </div>
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Partner Name</th>
                        <th>Plan Title</th>
                        <th>Amount/th>
                        <th>Paid Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                    <tr>
                        <td>Ramu Nimmala</td>
                        <td><a href="key-details.html">PLAN-MAR18-MAR19</a></td>
                        <td>2580.00</td>
                        <td>15/01/2016</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>
<!-- /.row -->
